---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import foto from "../assets/circulo.png";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import ViewsProjects from "../components//ViewsProjects.astro";
import Habilidades from "../components/Habilidades.astro";
import Habilities from "../components/icons/Habilities.astro";
import Visual from "../components/icons/Visual.astro";
import Projects from "../components/Projects.astro";
import My from "../components/My.astro";
---

<Layout
	title="Portafolio web de Pablo Castillo - Estudiante de Informatica"
	description="Contrata a Pablo Castillo para desarrollar tus proyectos web."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<div class="flex flex-col items-start">
				<img
					class="rounded-full size-20 mb-6 border-2 border-yellow-200/30 hover:border-yellow-200/80 transition-all"
					src={foto.src}
					alt="Foto de Pablo Castillo"
				/>

				<h1
					class="text-white text-4xl md:text-5xl lg:text-6xl font-bold flex flex-col md:flex-row gap-y-2 gap-x-4 pb-6 lg:pb-10"
				>
					<span class="flex items-center gap-x-4">
						¡Hola, soy Pablo Castillo!
						<a
							href="https://www.linkedin.com/in/pablo-castillo-112202352/"
							target="_blank"
							rel="noopener"
							class="hidden md:flex"
						>
							<Badge class="hover:scale-105 transition-transform"
								>Disponible para trabajar</Badge
							>
						</a>
					</span>
				</h1>

				<div class="flex flex-col gap-2">
					<p class="text-lg md:text-xl text-white/90 italic mb-2">
						"Nunca digas nunca - cada línea de código es un paso
						hacia lo imposible"
					</p>

					<h2
						class="text-xl md:text-2xl text-wrap max-w-[750px] text-white leading-relaxed"
					>
						<span>+3 años estudiando informática. </span>
						<span class="text-yellow-200/90 font-medium"
							>Desarrollador full-stack</span
						>
						<span> de </span>
						<span class="text-red-200/90"
							>Guatemala, Ciudad de Guatemala</span
						>.
						<span class="opacity-80 block mt-2">
							Me especializo en desarrollar aplicaciones back-end
							y front-end con soluciones que ayuden.
						</span>
					</h2>
				</div>

				<a
					href="https://www.linkedin.com/in/pablo-castillo-112202352/"
					target="_blank"
					rel="noopener"
					class="md:hidden mt-4"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</div>
		</SectionContainer>

		<SectionContainer id="habilidades">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white"
			>
				<Habilities class="size-7" />
				Habilidades
			</h2>
			<Habilidades />
		</SectionContainer>

		<SectionContainer id="curriculum">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white"
			>
				<BriefCase class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos-vista">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white"
			>
				<Code class="size-7" />
				Vista de Proyectos
			</h2>
			<ViewsProjects />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white"
			>
				<Visual class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
				class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white"
			>
			</h2>
			<My />
		</SectionContainer>
	</main>
</Layout>
