---
import foto from '../assets/circulo.png';
---
<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">


<nav class="flex flex-row gap-x-10 opacity-80">
  <a href="#top">Inicio</a> {/* Página principal */}
  <a href="#experiencia">Experiencia</a> {/* Página experiencia */}
  <a href="#sobre-mi">Curriculum</a> {/* Curriculum virtual */}
  <a href="#proyectos-vista">Proyectos Vista</a> {/* Vista de proyectos */}
  <a href="#Proyectos">Proyectos</a> {/* Proyectos subirlos */}
  <a href="#contact">Contacto</a> {/* LinkedIn, Github */}
</nav>
</header>